<div class="title"> 
<h1> Ver Estudiante</h1></div>
<div class="container"> 
<mat-card class="card">
    <mat-card-title>Carlos</mat-card-title>
    <mat-card-content>
        <p> <strong>Apellido: </strong> Azcarraga </p>
        <p> <strong>Curso: </strong> 3B </p>
        <p> <strong>Telefono: </strong> 70776212 </p>
        <p> <strong>Edad: </strong> 14 </p>
     
    </mat-card-content>
   
</mat-card>
<mat-card-actions class="card">
    <button mat-fab color="warn" routerLink="listEstudiante" >
        <mat-icon>home</mat-icon>
      </button>
</mat-card-actions>
</div>