<div class="title">
    AGREGAR MASCOTA
</div>

<div class="container">
    <mat-card-subtitle>
        Datos del Estudiante
    </mat-card-subtitle>
<mat-card class="card">
 
     <form [formGroup]="form" (ngSubmit)="AgregarEstudiante()" >
        <mat-grid-list cols="2" rowHeight="80px">
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombre" matInput autocomplete="off" >              
                  </mat-form-field>

            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="apellido" matInput autocomplete="off" >              
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile> <mat-form-field appearance="outline">
                <mat-label>Curso</mat-label>
                <input formControlName="curso"  matInput autocomplete="off" >              
              </mat-form-field></mat-grid-tile>
            <mat-grid-tile> <mat-form-field appearance="outline">
                <mat-label>Telefono</mat-label>
                <input type="number"  formControlName="telefono"  matInput autocomplete="off" >              
              </mat-form-field></mat-grid-tile>
            <mat-grid-tile> <mat-form-field appearance="outline">
                <mat-label>Edad</mat-label>
                <input type="number" formControlName="edad"  matInput autocomplete="off" >              
              </mat-form-field></mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <button [disabled]="form.invalid" type="submit" class="btnaceptar" mat-raised-button color="primary">Aceptar</button>
                <button  mat-raised-button color="accent" routerLink="listEstudiante">Volver</button>
            </mat-grid-tile>
          </mat-grid-list>
     </form>
</mat-card>
</div>