table {
    width: 100%;
  }
  .title {
padding: 30px;
background-color: #666;
text-align: center;
color: white;
  }
  td,th {

   width: 15%;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .delete {
    cursor:pointer;
    color: red
  }
  .edit {
    cursor:pointer;
    color: blue
  }
  .search {
    cursor:pointer;
    color: yellowgreen
  }
  .agregar {
    font-size: 10px;
    line-height: 28px;
  }